<a href="https://colab.research.google.com/github/Muluken1Walle/World-Happiness.Project/blob/main/World_Happiness_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [264]:

from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [265]:
data15=pd.read_csv('/content/drive/MyDrive/WorldHappines/2015 (1).csv')
data16=pd.read_csv('/content/drive/MyDrive/WorldHappines/2016.csv')
data17=pd.read_csv('/content/drive/MyDrive/WorldHappines/2017.csv')
data18=pd.read_csv('/content/drive/MyDrive/WorldHappines/2018.csv')
data19=pd.read_csv('/content/drive/MyDrive/WorldHappines/2019.csv')

In [267]:
data=pd.DataFrame()
data['2015']=pd.Series(data15.columns.tolist())
data["2016"]=pd.Series(data16.columns.tolist())
data["2017"]=pd.Series(data17.columns.tolist())
data["2018"]=pd.Series(data18.columns.tolist())
data["2019"]=pd.Series(data19.columns.tolist())
data

,2015,2016,2017,2018,2019
0,Country,Country,Country,Overall rank,Overall rank
1,Region,Region,Happiness.Rank,Country or region,Country or region
2,Happiness Rank,Happiness Rank,Happiness.Score,Score,Score
3,Happiness Score,Happiness Score,Whisker.high,GDP per capita,GDP per capita
4,Standard Error,Lower Confidence Interval,Whisker.low,Social support,Social support
5,Economy (GDP per Capita),Upper Confidence Interval,Economy..GDP.per.Capita.,Healthy life expectancy,Healthy life expectancy
6,Family,Economy (GDP per Capita),Family,Freedom to make life choices,Freedom to make life choices
7,Health (Life Expectancy),Family,Health..Life.Expectancy.,Generosity,Generosity
8,Freedom,Health (Life Expectancy),Freedom,Perceptions of corruption,Perceptions of corruption
9,Trust (Government Corruption),Freedom,Generosity,NaN,NaN
10,Generosity,Trust (Government Corruption),Trust..Government.Corruption.,NaN,NaN
11,Dystopia Residual,Generosity,Dystopia.Residual,NaN,NaN

# Features have same name with slight difference 
Happines Rank / Happines.Rank /Overall Rank

Happiness Score /Happiness.score/ Score 

Economy ( GDP per Capita)/ Econonmy..GDP.per.capita / GDP Per Capita

Health (Life Expectancy)/ Health.Life.Expectancy/ Healthy life expectancy

freddom/freedom to make life choices 

Trust( Government Corruption)/Trust.. Government Corruption / perception of corruption 

# Features are not in all years 

2015, 2017,2018: Dystopia Residual/Dystoopia.Residual

 2015   : Standard Error 

2016 : lower confidence interval , upper confidence interval

2017: WHiskers High/ WHiskers low

In [268]:
#renaming Country
data18.rename(columns={'Country or region':'Country'},inplace=True)
data19.rename(columns={'Country or region':'Country'},inplace=True)

In [269]:
data16.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [270]:
#happiness Rank
#data16.rename(columns={'Overall rank':"Happiness Rank"},inplace=True)
data17.rename(columns={"Happiness.Rank":"Happiness Rank"},inplace=True)
data18.rename(columns={"Overall rank":"Happiness Rank"},inplace=True)
data19.rename(columns={"Overall rank":"Happiness Rank"},inplace=True)

In [271]:
#happiness Score 
#data16.rename(columns={"Happiness.Score":"Happiness Score"},inplace=True)
data17.rename(columns={"Happiness.Score":"Happiness Score"},inplace=True)
data18.rename(columns={"Score":"Happiness Score"},inplace=True)
data19.rename(columns={"Score":"Happiness Score"},inplace=True)

In [272]:
#gdp
data15.rename(columns={"Economy (GDP per Capita)":"GDP"},inplace=True)
data16.rename(columns={"Economy (GDP per Capita)":"GDP"},inplace=True)
data17.rename(columns={"Economy..GDP.per.Capita.":"GDP"},inplace=True)
data18.rename(columns={"GDP per capita":"GDP"},inplace=True)
data19.rename(columns={"GDP per capita":"GDP"},inplace=True)

In [273]:
#Health
data15.rename(columns={"Health (Life Expectancy)":"Health"},inplace=True)
data16.rename(columns={'Health (Life Expectancy)':"Health"},inplace=True)
data17.rename(columns={'Health..Life.Expectancy.':"Health"},inplace=True)
data18.rename(columns={'Healthy life expectancy':"Health"},inplace=True)
data19.rename(columns={'Healthy life expectancy':"Health"},inplace=True)

In [274]:
#freddom
data18.rename(columns={'Freedom to make life choices':"Freedom"},inplace=True)
data19.rename(columns={'Freedom to make life choices':"Freedom"},inplace=True)

In [275]:
#corruption
data15.rename(columns={"Trust (Government Corruption)":"corruption"},inplace=True)
data16.rename(columns={'Trust (Government Corruption)':"corruption"},inplace=True)
data17.rename(columns={'Trust..Government.Corruption.':"corruption"},inplace=True)
data18.rename(columns={'Perceptions of corruption':"corruption"},inplace=True)
data19.rename(columns={'Perceptions of corruption':"corruption"},inplace=True)

In [296]:
#family
data18.rename(columns={"Social support":"Family"},inplace=True)
data19.rename(columns={"Social support":"Family"},inplace=True)

2015: Region
2016 : Dystopia 
2017: WHisker Low ,high

Features are not in all years
2015, 2017,2018: Dystopia Residual/Dystoopia.Residual

2015 : Standard Error

2016 : lower confidence interval , upper confidence interval

2017: WHiskers High/ WHiskers low

In [276]:
data15.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'GDP', 'Family', 'Health', 'Freedom', 'corruption',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [278]:
data16.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval', 'GDP',
       'Family', 'Health', 'Freedom', 'corruption', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [279]:
data17.columns

Index(['Country', 'Happiness Rank', 'Happiness Score', 'Whisker.high',
       'Whisker.low', 'GDP', 'Family', 'Health', 'Freedom', 'Generosity',
       'corruption', 'Dystopia.Residual'],
      dtype='object')

In [280]:
data18.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP', 'Social support',
       'Health', 'Freedom', 'Generosity', 'corruption'],
      dtype='object')

In [281]:
data19.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP', 'Social support',
       'Health', 'Freedom', 'Generosity', 'corruption'],
      dtype='object')

In [282]:
data15=data15.drop(['Dystopia Residual','Standard Error',"Region"], axis=1)

In [283]:
data16=data16.drop(['Lower Confidence Interval','Upper Confidence Interval',"Region","Dystopia Residual"],axis=1)

In [284]:
data17=data17.drop(["Whisker.high","Whisker.low","Dystopia.Residual"],axis=1)

In [289]:
data19.shape

(156, 9)

In [297]:
data_final=pd.concat([data15,data16,data17,data18,data19],ignore_index=True)

In [298]:
data_final

,Country,Happiness Rank,Happiness Score,GDP,Family,Health,Freedom,corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
777,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
778,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
779,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
780,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
781,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

In [300]:
data_final.isna().sum()

Country            0
Happiness Rank     0
Happiness Score    0
GDP                0
Family             0
Health             0
Freedom            0
corruption         1
Generosity         0
dtype: int64

In [302]:
data_final['corruption']=data_final['corruption'].fillna(data_final['corruption'].median())

In [304]:
data_final.head()

,Country,Happiness Rank,Happiness Score,GDP,Family,Health,Freedom,corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [305]:
data_final.drop(["Happiness Rank"],axis=1,inplace=True)

In [306]:
data_final.set_index('Country',inplace=True)

In [307]:
data_final

,Happiness Score,GDP,Family,Health,Freedom,corruption,Generosity
Country,,,,,,,
Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...
Rwanda,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
Tanzania,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
Afghanistan,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
Central African Republic,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
South Sudan,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

In [309]:
X=data_final.drop(['Happiness Score'],axis=1)
y=data_final['Happiness Score']

In [311]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [312]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train,y_train)
pred =model.predict(X_test)
pred

array([7.10461   , 4.18044   , 7.06856002, 6.04104997, 6.05560001,
       6.11445996, 5.20893998, 5.28552001, 5.35736002, 4.99068003,
       6.05291998, 3.28274   , 4.16719   , 4.40396001, 4.73378002,
       5.85148   , 6.27649002, 5.28285999, 6.25026999, 5.02156998,
       4.76281001, 7.18626   , 4.13634001, 4.43889998, 7.23708   ,
       7.41664999, 6.95519999, 7.41664   , 5.44614   , 4.29182   ,
       5.90845   , 6.34578   , 4.20122   , 5.59814   , 5.62247002,
       4.77134   , 4.35496997, 6.43214998, 3.95119999, 6.91579002,
       4.18795   , 6.48596999, 5.70739   , 4.03707   , 3.42705   ,
       6.27429   , 4.44249004, 5.64162999, 4.44786998, 6.05679999,
       4.02934999, 4.07278001, 5.6931    , 5.41173001, 5.59576   ,
       5.40895999, 5.97053   , 5.76924   , 4.63068   , 5.15129001,
       4.17356001, 5.56009999, 5.08022001, 5.12465999, 7.45089997,
       4.04794   , 3.99080998, 7.07138   , 5.7519    , 4.30828999,
       4.99402999, 5.79539   , 6.25634   , 4.73513   , 3.87621999,
       5.76116997, 3.87522   , 5.61309001, 4.18233999, 4.62494999,
       7.18501999, 5.79215   , 6.53950002, 5.43235002, 5.07378   ,
       6.09450998, 4.15499999, 6.02366001, 4.49894   , 6.7003    ,
       4.87245996, 5.90024001, 5.82955996, 5.98774998, 5.99704   ,
       6.45667999, 7.21706   , 5.14826999, 5.43724   , 4.12298998,
       4.33777999, 6.51128998, 3.33686   , 5.91181002, 5.45607006,
       7.08238999, 5.75614002, 4.35104002, 4.68425999, 4.98007998,
       4.48715   , 3.83618   , 4.19940001, 4.28959   , 3.7373    ,
       4.24703999, 7.16029   , 5.66040999, 5.84400999, 5.65360999,
       6.82395001, 4.19948   , 4.46332   , 5.13204999, 3.74824998,
       4.88274003, 6.85996999, 5.07185999, 6.35724999, 5.61182   ,
       7.33717999, 4.12889   , 6.34011997, 7.37234999, 6.55692   ,
       5.06051999, 4.27544   , 4.01905   , 4.10694999, 4.26253003,
       4.38797   , 5.30546001, 6.28953   , 4.32551999, 5.84709003,
       7.25403999, 4.82585002, 6.16062   , 4.24711001, 6.14343996,
       6.50077997, 7.17440002, 6.85277   , 5.25438999, 6.07254   ,
       3.81248999, 5.16438998])

In [314]:
from sklearn.metrics import r2_score,mean_squared_error
rmse=np.sqrt(mean_squared_error(y_test,pred))
print("Root Mean Squared Error",rmse)
print("Accuracy",model.score(X_test,y_test))
print('r2 score',r2_score(y_test,pred))

Root Mean Squared Error 0.48853327115508793
Accuracy 0.8153225409750852
r2 score 0.8153225409750852

In [315]:
compare=pd.DataFrame({'y_test':y_test,"predictions":pred})
compare

              y_test  predictions
Country
Norway         7.498      7.10461
Sierra Leone   4.709      4.18044
Netherlands    7.377      7.06856
Italy          5.964      6.04105
Uruguay        6.293      6.05560
...              ...          ...
Iceland        7.561      6.85277
Nicaragua      5.828      5.25439
China          5.191      6.07254
Togo           3.999      3.81249
Ukraine        4.681      5.16439

[157 rows x 2 columns]